/* body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
  } */
  
  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 24px;
    padding: 40px;
  }
  
  .project-card {
    background-color: #15103080;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px  #2d556d;
    transition: transform 0.3s ease;
  }
  
  .project-card:hover {
    transform: scale(1.02);
  }
  
  .project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .project-content {
    padding: 20px;
  }
  
  .project-title {
    color:  #55c1ff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  
  .project-description {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 16px;
  }
  
  .project-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .tech-badge {
    background-color: #0f2f36;
    color: #5eead4;
    font-size: 0.75rem;
    padding: 6px 14px;
    border-radius: 9999px;
    font-weight: 500;
  }
  